USE [E-Commerce]
GO
/****** Object:  StoredProcedure [dbo].[UpdateBrand]    Script Date: 7/29/2017 6:31:38 PM ******/
DROP PROCEDURE [dbo].[UpdateBrand]
GO
/****** Object:  StoredProcedure [dbo].[Update_UserType]    Script Date: 7/29/2017 6:31:38 PM ******/
DROP PROCEDURE [dbo].[Update_UserType]
GO
/****** Object:  StoredProcedure [dbo].[Update_SubMenuHeading]    Script Date: 7/29/2017 6:31:38 PM ******/
DROP PROCEDURE [dbo].[Update_SubMenuHeading]
GO
/****** Object:  StoredProcedure [dbo].[Update_Registration]    Script Date: 7/29/2017 6:31:38 PM ******/
DROP PROCEDURE [dbo].[Update_Registration]
GO
/****** Object:  StoredProcedure [dbo].[Update_ReferenceProductImages]    Script Date: 7/29/2017 6:31:38 PM ******/
DROP PROCEDURE [dbo].[Update_ReferenceProductImages]
GO
/****** Object:  StoredProcedure [dbo].[Update_ProductType]    Script Date: 7/29/2017 6:31:38 PM ******/
DROP PROCEDURE [dbo].[Update_ProductType]
GO
/****** Object:  StoredProcedure [dbo].[Update_Products]    Script Date: 7/29/2017 6:31:38 PM ******/
DROP PROCEDURE [dbo].[Update_Products]
GO
/****** Object:  StoredProcedure [dbo].[Update_ProductReviews]    Script Date: 7/29/2017 6:31:38 PM ******/
DROP PROCEDURE [dbo].[Update_ProductReviews]
GO
/****** Object:  StoredProcedure [dbo].[Update_PaymentMode]    Script Date: 7/29/2017 6:31:38 PM ******/
DROP PROCEDURE [dbo].[Update_PaymentMode]
GO
/****** Object:  StoredProcedure [dbo].[Update_PaymentCategory]    Script Date: 7/29/2017 6:31:38 PM ******/
DROP PROCEDURE [dbo].[Update_PaymentCategory]
GO
/****** Object:  StoredProcedure [dbo].[Update_OrderDeatils]    Script Date: 7/29/2017 6:31:38 PM ******/
DROP PROCEDURE [dbo].[Update_OrderDeatils]
GO
/****** Object:  StoredProcedure [dbo].[Update_MainMenu]    Script Date: 7/29/2017 6:31:38 PM ******/
DROP PROCEDURE [dbo].[Update_MainMenu]
GO
/****** Object:  StoredProcedure [dbo].[Update_Discount]    Script Date: 7/29/2017 6:31:38 PM ******/
DROP PROCEDURE [dbo].[Update_Discount]
GO
/****** Object:  StoredProcedure [dbo].[Update_Colour_Operations]    Script Date: 7/29/2017 6:31:38 PM ******/
DROP PROCEDURE [dbo].[Update_Colour_Operations]
GO
/****** Object:  StoredProcedure [dbo].[Update_Colour]    Script Date: 7/29/2017 6:31:38 PM ******/
DROP PROCEDURE [dbo].[Update_Colour]
GO
/****** Object:  StoredProcedure [dbo].[Update_CardType]    Script Date: 7/29/2017 6:31:38 PM ******/
DROP PROCEDURE [dbo].[Update_CardType]
GO
/****** Object:  StoredProcedure [dbo].[Update_Card_Details]    Script Date: 7/29/2017 6:31:38 PM ******/
DROP PROCEDURE [dbo].[Update_Card_Details]
GO
/****** Object:  StoredProcedure [dbo].[Testsp]    Script Date: 7/29/2017 6:31:38 PM ******/
DROP PROCEDURE [dbo].[Testsp]
GO
/****** Object:  StoredProcedure [dbo].[SaveLoginDetails]    Script Date: 7/29/2017 6:31:38 PM ******/
DROP PROCEDURE [dbo].[SaveLoginDetails]
GO
/****** Object:  StoredProcedure [dbo].[SaveBrand]    Script Date: 7/29/2017 6:31:38 PM ******/
DROP PROCEDURE [dbo].[SaveBrand]
GO
/****** Object:  StoredProcedure [dbo].[Save_UserType]    Script Date: 7/29/2017 6:31:38 PM ******/
DROP PROCEDURE [dbo].[Save_UserType]
GO
/****** Object:  StoredProcedure [dbo].[Save_SubMenuHeading]    Script Date: 7/29/2017 6:31:38 PM ******/
DROP PROCEDURE [dbo].[Save_SubMenuHeading]
GO
/****** Object:  StoredProcedure [dbo].[Save_SubMenu_Operations]    Script Date: 7/29/2017 6:31:38 PM ******/
DROP PROCEDURE [dbo].[Save_SubMenu_Operations]
GO
/****** Object:  StoredProcedure [dbo].[Save_Registration]    Script Date: 7/29/2017 6:31:38 PM ******/
DROP PROCEDURE [dbo].[Save_Registration]
GO
/****** Object:  StoredProcedure [dbo].[Save_ReferenceProductImages]    Script Date: 7/29/2017 6:31:38 PM ******/
DROP PROCEDURE [dbo].[Save_ReferenceProductImages]
GO
/****** Object:  StoredProcedure [dbo].[Save_ProductType]    Script Date: 7/29/2017 6:31:38 PM ******/
DROP PROCEDURE [dbo].[Save_ProductType]
GO
/****** Object:  StoredProcedure [dbo].[Save_Products]    Script Date: 7/29/2017 6:31:38 PM ******/
DROP PROCEDURE [dbo].[Save_Products]
GO
/****** Object:  StoredProcedure [dbo].[Save_ProductReviews]    Script Date: 7/29/2017 6:31:38 PM ******/
DROP PROCEDURE [dbo].[Save_ProductReviews]
GO
/****** Object:  StoredProcedure [dbo].[Save_PaymentMode]    Script Date: 7/29/2017 6:31:38 PM ******/
DROP PROCEDURE [dbo].[Save_PaymentMode]
GO
/****** Object:  StoredProcedure [dbo].[Save_PaymentCategory]    Script Date: 7/29/2017 6:31:38 PM ******/
DROP PROCEDURE [dbo].[Save_PaymentCategory]
GO
/****** Object:  StoredProcedure [dbo].[Save_OrderDeatils]    Script Date: 7/29/2017 6:31:38 PM ******/
DROP PROCEDURE [dbo].[Save_OrderDeatils]
GO
/****** Object:  StoredProcedure [dbo].[Save_MainMenu]    Script Date: 7/29/2017 6:31:38 PM ******/
DROP PROCEDURE [dbo].[Save_MainMenu]
GO
/****** Object:  StoredProcedure [dbo].[Save_Discount]    Script Date: 7/29/2017 6:31:38 PM ******/
DROP PROCEDURE [dbo].[Save_Discount]
GO
/****** Object:  StoredProcedure [dbo].[Save_Colour_Operations]    Script Date: 7/29/2017 6:31:38 PM ******/
DROP PROCEDURE [dbo].[Save_Colour_Operations]
GO
/****** Object:  StoredProcedure [dbo].[Save_Colour]    Script Date: 7/29/2017 6:31:38 PM ******/
DROP PROCEDURE [dbo].[Save_Colour]
GO
/****** Object:  StoredProcedure [dbo].[Save_CardType]    Script Date: 7/29/2017 6:31:38 PM ******/
DROP PROCEDURE [dbo].[Save_CardType]
GO
/****** Object:  StoredProcedure [dbo].[Save_Card_Details]    Script Date: 7/29/2017 6:31:38 PM ******/
DROP PROCEDURE [dbo].[Save_Card_Details]
GO
/****** Object:  StoredProcedure [dbo].[Loadd_Active_MainMenu]    Script Date: 7/29/2017 6:31:38 PM ******/
DROP PROCEDURE [dbo].[Loadd_Active_MainMenu]
GO
/****** Object:  StoredProcedure [dbo].[LoadBrandByID]    Script Date: 7/29/2017 6:31:38 PM ******/
DROP PROCEDURE [dbo].[LoadBrandByID]
GO
/****** Object:  StoredProcedure [dbo].[LoadAllBrand]    Script Date: 7/29/2017 6:31:38 PM ******/
DROP PROCEDURE [dbo].[LoadAllBrand]
GO
/****** Object:  StoredProcedure [dbo].[Load_SubMenuHeading_By_ID]    Script Date: 7/29/2017 6:31:38 PM ******/
DROP PROCEDURE [dbo].[Load_SubMenuHeading_By_ID]
GO
/****** Object:  StoredProcedure [dbo].[Load_Registration_By_Id]    Script Date: 7/29/2017 6:31:38 PM ******/
DROP PROCEDURE [dbo].[Load_Registration_By_Id]
GO
/****** Object:  StoredProcedure [dbo].[Load_ReferenceProductImages_By_ID]    Script Date: 7/29/2017 6:31:38 PM ******/
DROP PROCEDURE [dbo].[Load_ReferenceProductImages_By_ID]
GO
/****** Object:  StoredProcedure [dbo].[Load_PaymentMode_By_ID]    Script Date: 7/29/2017 6:31:38 PM ******/
DROP PROCEDURE [dbo].[Load_PaymentMode_By_ID]
GO
/****** Object:  StoredProcedure [dbo].[Load_PaymentCategory_By_ID]    Script Date: 7/29/2017 6:31:38 PM ******/
DROP PROCEDURE [dbo].[Load_PaymentCategory_By_ID]
GO
/****** Object:  StoredProcedure [dbo].[Load_OrderDeatils_By_ID]    Script Date: 7/29/2017 6:31:38 PM ******/
DROP PROCEDURE [dbo].[Load_OrderDeatils_By_ID]
GO
/****** Object:  StoredProcedure [dbo].[Load_MainMenu_By_ID]    Script Date: 7/29/2017 6:31:38 PM ******/
DROP PROCEDURE [dbo].[Load_MainMenu_By_ID]
GO
/****** Object:  StoredProcedure [dbo].[Load_Discount_By_ID]    Script Date: 7/29/2017 6:31:38 PM ******/
DROP PROCEDURE [dbo].[Load_Discount_By_ID]
GO
/****** Object:  StoredProcedure [dbo].[Load_Colour_By_ID]    Script Date: 7/29/2017 6:31:38 PM ******/
DROP PROCEDURE [dbo].[Load_Colour_By_ID]
GO
/****** Object:  StoredProcedure [dbo].[Load_CardType_By_ID]    Script Date: 7/29/2017 6:31:38 PM ******/
DROP PROCEDURE [dbo].[Load_CardType_By_ID]
GO
/****** Object:  StoredProcedure [dbo].[Load_Card_Details_By_ID]    Script Date: 7/29/2017 6:31:38 PM ******/
DROP PROCEDURE [dbo].[Load_Card_Details_By_ID]
GO
/****** Object:  StoredProcedure [dbo].[Load_All_SubMenuHeading]    Script Date: 7/29/2017 6:31:38 PM ******/
DROP PROCEDURE [dbo].[Load_All_SubMenuHeading]
GO
/****** Object:  StoredProcedure [dbo].[Load_All_Registration]    Script Date: 7/29/2017 6:31:38 PM ******/
DROP PROCEDURE [dbo].[Load_All_Registration]
GO
/****** Object:  StoredProcedure [dbo].[Load_All_ReferenceProductImages]    Script Date: 7/29/2017 6:31:38 PM ******/
DROP PROCEDURE [dbo].[Load_All_ReferenceProductImages]
GO
/****** Object:  StoredProcedure [dbo].[Load_All_ProductType]    Script Date: 7/29/2017 6:31:38 PM ******/
DROP PROCEDURE [dbo].[Load_All_ProductType]
GO
/****** Object:  StoredProcedure [dbo].[Load_All_Products]    Script Date: 7/29/2017 6:31:38 PM ******/
DROP PROCEDURE [dbo].[Load_All_Products]
GO
/****** Object:  StoredProcedure [dbo].[Load_All_PaymentMode]    Script Date: 7/29/2017 6:31:38 PM ******/
DROP PROCEDURE [dbo].[Load_All_PaymentMode]
GO
/****** Object:  StoredProcedure [dbo].[Load_All_PaymentCategory]    Script Date: 7/29/2017 6:31:38 PM ******/
DROP PROCEDURE [dbo].[Load_All_PaymentCategory]
GO
/****** Object:  StoredProcedure [dbo].[Load_All_OrderDeatils]    Script Date: 7/29/2017 6:31:38 PM ******/
DROP PROCEDURE [dbo].[Load_All_OrderDeatils]
GO
/****** Object:  StoredProcedure [dbo].[Load_All_MainMenu]    Script Date: 7/29/2017 6:31:38 PM ******/
DROP PROCEDURE [dbo].[Load_All_MainMenu]
GO
/****** Object:  StoredProcedure [dbo].[Load_All_Discount]    Script Date: 7/29/2017 6:31:38 PM ******/
DROP PROCEDURE [dbo].[Load_All_Discount]
GO
/****** Object:  StoredProcedure [dbo].[Load_All_Colour_Operations]    Script Date: 7/29/2017 6:31:38 PM ******/
DROP PROCEDURE [dbo].[Load_All_Colour_Operations]
GO
/****** Object:  StoredProcedure [dbo].[Load_All_Colour]    Script Date: 7/29/2017 6:31:38 PM ******/
DROP PROCEDURE [dbo].[Load_All_Colour]
GO
/****** Object:  StoredProcedure [dbo].[Load_All_CardType]    Script Date: 7/29/2017 6:31:38 PM ******/
DROP PROCEDURE [dbo].[Load_All_CardType]
GO
/****** Object:  StoredProcedure [dbo].[Load_All_Card_Details]    Script Date: 7/29/2017 6:31:38 PM ******/
DROP PROCEDURE [dbo].[Load_All_Card_Details]
GO
/****** Object:  StoredProcedure [dbo].[Load_Active_MainMenu]    Script Date: 7/29/2017 6:31:38 PM ******/
DROP PROCEDURE [dbo].[Load_Active_MainMenu]
GO
/****** Object:  StoredProcedure [dbo].[DeleteBrand]    Script Date: 7/29/2017 6:31:38 PM ******/
DROP PROCEDURE [dbo].[DeleteBrand]
GO
/****** Object:  StoredProcedure [dbo].[Delete_UserType]    Script Date: 7/29/2017 6:31:38 PM ******/
DROP PROCEDURE [dbo].[Delete_UserType]
GO
/****** Object:  StoredProcedure [dbo].[Delete_SubMenuHeading]    Script Date: 7/29/2017 6:31:38 PM ******/
DROP PROCEDURE [dbo].[Delete_SubMenuHeading]
GO
/****** Object:  StoredProcedure [dbo].[Delete_SubMenu_Operations]    Script Date: 7/29/2017 6:31:38 PM ******/
DROP PROCEDURE [dbo].[Delete_SubMenu_Operations]
GO
/****** Object:  StoredProcedure [dbo].[Delete_Registration]    Script Date: 7/29/2017 6:31:38 PM ******/
DROP PROCEDURE [dbo].[Delete_Registration]
GO
/****** Object:  StoredProcedure [dbo].[Delete_ReferenceProductImages]    Script Date: 7/29/2017 6:31:38 PM ******/
DROP PROCEDURE [dbo].[Delete_ReferenceProductImages]
GO
/****** Object:  StoredProcedure [dbo].[Delete_ProductType]    Script Date: 7/29/2017 6:31:38 PM ******/
DROP PROCEDURE [dbo].[Delete_ProductType]
GO
/****** Object:  StoredProcedure [dbo].[Delete_Products]    Script Date: 7/29/2017 6:31:38 PM ******/
DROP PROCEDURE [dbo].[Delete_Products]
GO
/****** Object:  StoredProcedure [dbo].[Delete_PaymentMode]    Script Date: 7/29/2017 6:31:38 PM ******/
DROP PROCEDURE [dbo].[Delete_PaymentMode]
GO
/****** Object:  StoredProcedure [dbo].[Delete_PaymentCategory]    Script Date: 7/29/2017 6:31:38 PM ******/
DROP PROCEDURE [dbo].[Delete_PaymentCategory]
GO
/****** Object:  StoredProcedure [dbo].[Delete_OrderDeatils]    Script Date: 7/29/2017 6:31:38 PM ******/
DROP PROCEDURE [dbo].[Delete_OrderDeatils]
GO
/****** Object:  StoredProcedure [dbo].[Delete_MainMenu]    Script Date: 7/29/2017 6:31:38 PM ******/
DROP PROCEDURE [dbo].[Delete_MainMenu]
GO
/****** Object:  StoredProcedure [dbo].[Delete_Discount]    Script Date: 7/29/2017 6:31:38 PM ******/
DROP PROCEDURE [dbo].[Delete_Discount]
GO
/****** Object:  StoredProcedure [dbo].[Delete_Colour_Operations]    Script Date: 7/29/2017 6:31:38 PM ******/
DROP PROCEDURE [dbo].[Delete_Colour_Operations]
GO
/****** Object:  StoredProcedure [dbo].[Delete_Colour]    Script Date: 7/29/2017 6:31:38 PM ******/
DROP PROCEDURE [dbo].[Delete_Colour]
GO
/****** Object:  StoredProcedure [dbo].[Delete_CardType]    Script Date: 7/29/2017 6:31:38 PM ******/
DROP PROCEDURE [dbo].[Delete_CardType]
GO
/****** Object:  StoredProcedure [dbo].[Delete_Card_Details]    Script Date: 7/29/2017 6:31:38 PM ******/
DROP PROCEDURE [dbo].[Delete_Card_Details]
GO
/****** Object:  StoredProcedure [dbo].[Crud_OrderDeatils_Operations]    Script Date: 7/29/2017 6:31:38 PM ******/
DROP PROCEDURE [dbo].[Crud_OrderDeatils_Operations]
GO
/****** Object:  StoredProcedure [dbo].[CheckLogin]    Script Date: 7/29/2017 6:31:38 PM ******/
DROP PROCEDURE [dbo].[CheckLogin]
GO
ALTER TABLE [dbo].[webpages_UsersInRoles] DROP CONSTRAINT [fk_RoleId]
GO
ALTER TABLE [dbo].[tblSubMenuHeading] DROP CONSTRAINT [FK_tblSubMenuHeading_tblMainMenu]
GO
ALTER TABLE [dbo].[tblSubMenu] DROP CONSTRAINT [FK_tblSubMenu_tblSubMenuHeading]
GO
ALTER TABLE [dbo].[tblShowSizesOfProducts] DROP CONSTRAINT [FK_tblShowSizesOfProducts_tblProductSize]
GO
ALTER TABLE [dbo].[tblShowSizesOfProducts] DROP CONSTRAINT [FK_tblShowSizesOfProducts_tblProducts]
GO
ALTER TABLE [dbo].[tblReviews] DROP CONSTRAINT [FK_tblReviews_tblRegistration]
GO
ALTER TABLE [dbo].[tblReviews] DROP CONSTRAINT [FK_tblReviews_tblProducts]
GO
ALTER TABLE [dbo].[tblRegistration] DROP CONSTRAINT [FK_tblRegistration_tblUserType]
GO
ALTER TABLE [dbo].[tblProductSubCategory] DROP CONSTRAINT [FK_tblProductSubCategoryID_tblProductCategory]
GO
ALTER TABLE [dbo].[tblProducts] DROP CONSTRAINT [FK_tblProducts_tblSubMenu]
GO
ALTER TABLE [dbo].[tblProducts] DROP CONSTRAINT [FK_tblProducts_tblReferenceProductImages]
GO
ALTER TABLE [dbo].[tblProducts] DROP CONSTRAINT [FK_tblProducts_tblProductType]
GO
ALTER TABLE [dbo].[tblProducts] DROP CONSTRAINT [FK_tblProducts_tblProductSubCategoryID]
GO
ALTER TABLE [dbo].[tblProducts] DROP CONSTRAINT [FK_tblProducts_tblProductCategory]
GO
ALTER TABLE [dbo].[tblProducts] DROP CONSTRAINT [FK_tblProducts_tblDiscount]
GO
ALTER TABLE [dbo].[tblProducts] DROP CONSTRAINT [FK_tblProducts_tblColour]
GO
ALTER TABLE [dbo].[tblProducts] DROP CONSTRAINT [FK_tblProducts_tblBrand]
GO
ALTER TABLE [dbo].[tblProductCategory] DROP CONSTRAINT [FK_tblProductCategory_tblProductType]
GO
ALTER TABLE [dbo].[tblOrderDetails] DROP CONSTRAINT [FK_tblOrderDetails_tnlPaymentMode]
GO
ALTER TABLE [dbo].[tblOrderDetails] DROP CONSTRAINT [FK_tblOrderDetails_tblRegistration]
GO
ALTER TABLE [dbo].[tblOrderDetails] DROP CONSTRAINT [FK_tblOrderDetails_tblProducts]
GO
ALTER TABLE [dbo].[tblCardDetails] DROP CONSTRAINT [FK_tblCardDetails_tblRegistration]
GO
ALTER TABLE [dbo].[tblCardDetails] DROP CONSTRAINT [FK_tblCardDetails_tblCardType]
GO
/****** Object:  Index [UQ__webpages__8A2B6160C8F8E8CD]    Script Date: 7/29/2017 6:31:38 PM ******/
ALTER TABLE [dbo].[webpages_Roles] DROP CONSTRAINT [UQ__webpages__8A2B6160C8F8E8CD]
GO
/****** Object:  Index [UQ__Users__C9F284563403701C]    Script Date: 7/29/2017 6:31:38 PM ******/
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [UQ__Users__C9F284563403701C]
GO
/****** Object:  Table [dbo].[webpages_UsersInRoles]    Script Date: 7/29/2017 6:31:38 PM ******/
DROP TABLE [dbo].[webpages_UsersInRoles]
GO
/****** Object:  Table [dbo].[webpages_Roles]    Script Date: 7/29/2017 6:31:38 PM ******/
DROP TABLE [dbo].[webpages_Roles]
GO
/****** Object:  Table [dbo].[webpages_OAuthMembership]    Script Date: 7/29/2017 6:31:38 PM ******/
DROP TABLE [dbo].[webpages_OAuthMembership]
GO
/****** Object:  Table [dbo].[webpages_Membership]    Script Date: 7/29/2017 6:31:38 PM ******/
DROP TABLE [dbo].[webpages_Membership]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 7/29/2017 6:31:38 PM ******/
DROP TABLE [dbo].[Users]
GO
/****** Object:  Table [dbo].[test]    Script Date: 7/29/2017 6:31:38 PM ******/
DROP TABLE [dbo].[test]
GO
/****** Object:  Table [dbo].[tblUserType]    Script Date: 7/29/2017 6:31:38 PM ******/
DROP TABLE [dbo].[tblUserType]
GO
/****** Object:  Table [dbo].[tblSubMenuHeading]    Script Date: 7/29/2017 6:31:38 PM ******/
DROP TABLE [dbo].[tblSubMenuHeading]
GO
/****** Object:  Table [dbo].[tblSubMenu]    Script Date: 7/29/2017 6:31:38 PM ******/
DROP TABLE [dbo].[tblSubMenu]
GO
/****** Object:  Table [dbo].[tblShowSizesOfProducts]    Script Date: 7/29/2017 6:31:38 PM ******/
DROP TABLE [dbo].[tblShowSizesOfProducts]
GO
/****** Object:  Table [dbo].[tblReviews]    Script Date: 7/29/2017 6:31:38 PM ******/
DROP TABLE [dbo].[tblReviews]
GO
/****** Object:  Table [dbo].[tblRegistration]    Script Date: 7/29/2017 6:31:38 PM ******/
DROP TABLE [dbo].[tblRegistration]
GO
/****** Object:  Table [dbo].[tblReferenceProductImages]    Script Date: 7/29/2017 6:31:38 PM ******/
DROP TABLE [dbo].[tblReferenceProductImages]
GO
/****** Object:  Table [dbo].[tblProductType]    Script Date: 7/29/2017 6:31:38 PM ******/
DROP TABLE [dbo].[tblProductType]
GO
/****** Object:  Table [dbo].[tblProductSubCategory]    Script Date: 7/29/2017 6:31:38 PM ******/
DROP TABLE [dbo].[tblProductSubCategory]
GO
/****** Object:  Table [dbo].[tblProductSize]    Script Date: 7/29/2017 6:31:38 PM ******/
DROP TABLE [dbo].[tblProductSize]
GO
/****** Object:  Table [dbo].[tblProducts]    Script Date: 7/29/2017 6:31:38 PM ******/
DROP TABLE [dbo].[tblProducts]
GO
/****** Object:  Table [dbo].[tblProductCategory]    Script Date: 7/29/2017 6:31:38 PM ******/
DROP TABLE [dbo].[tblProductCategory]
GO
/****** Object:  Table [dbo].[tblPaymentMode]    Script Date: 7/29/2017 6:31:38 PM ******/
DROP TABLE [dbo].[tblPaymentMode]
GO
/****** Object:  Table [dbo].[tblOrderDetails]    Script Date: 7/29/2017 6:31:38 PM ******/
DROP TABLE [dbo].[tblOrderDetails]
GO
/****** Object:  Table [dbo].[tblMainMenu]    Script Date: 7/29/2017 6:31:38 PM ******/
DROP TABLE [dbo].[tblMainMenu]
GO
/****** Object:  Table [dbo].[tblLogin]    Script Date: 7/29/2017 6:31:38 PM ******/
DROP TABLE [dbo].[tblLogin]
GO
/****** Object:  Table [dbo].[tblDiscount]    Script Date: 7/29/2017 6:31:38 PM ******/
DROP TABLE [dbo].[tblDiscount]
GO
/****** Object:  Table [dbo].[tblColour]    Script Date: 7/29/2017 6:31:38 PM ******/
DROP TABLE [dbo].[tblColour]
GO
/****** Object:  Table [dbo].[tblCardType]    Script Date: 7/29/2017 6:31:38 PM ******/
DROP TABLE [dbo].[tblCardType]
GO
/****** Object:  Table [dbo].[tblCardDetails]    Script Date: 7/29/2017 6:31:38 PM ******/
DROP TABLE [dbo].[tblCardDetails]
GO
/****** Object:  Table [dbo].[tblBrand]    Script Date: 7/29/2017 6:31:38 PM ******/
DROP TABLE [dbo].[tblBrand]
GO
USE [master]
GO
/****** Object:  Database [E-Commerce]    Script Date: 7/29/2017 6:31:38 PM ******/
DROP DATABASE [E-Commerce]
GO
/****** Object:  Database [E-Commerce]    Script Date: 7/29/2017 6:31:38 PM ******/
CREATE DATABASE [E-Commerce]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'E-Commerce', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\E-Commerce.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'E-Commerce_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\E-Commerce_log.ldf' , SIZE = 32448KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [E-Commerce].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [E-Commerce]
GO
/****** Object:  Table [dbo].[tblBrand]    Script Date: 7/29/2017 6:31:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblBrand](
	[BrandID] [int] IDENTITY(1,1) NOT NULL,
	[BrandName] [nvarchar](50) NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_tblBrand] PRIMARY KEY CLUSTERED 
(
	[BrandID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblCardDetails]    Script Date: 7/29/2017 6:31:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCardDetails](
	[CardDetailID] [int] NOT NULL,
	[CardDetailNo] [nvarchar](50) NULL,
	[CardDetailsName] [nvarchar](50) NULL,
	[CardDetailsCvv] [nvarchar](10) NULL,
	[CardTypeID] [int] NULL,
	[CardRegistrationID] [int] NOT NULL,
 CONSTRAINT [PK_tblCardDetails] PRIMARY KEY CLUSTERED 
(
	[CardDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblCardType]    Script Date: 7/29/2017 6:31:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCardType](
	[CardTypeID] [int] NOT NULL,
	[CardTypeText] [nvarchar](50) NULL,
 CONSTRAINT [PK_tblCardType] PRIMARY KEY CLUSTERED 
(
	[CardTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblColour]    Script Date: 7/29/2017 6:31:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblColour](
	[ColourID] [int] IDENTITY(1,1) NOT NULL,
	[ColourText] [nvarchar](50) NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_tblColour] PRIMARY KEY CLUSTERED 
(
	[ColourID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblDiscount]    Script Date: 7/29/2017 6:31:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDiscount](
	[DiscountID] [int] IDENTITY(1,1) NOT NULL,
	[DiscountText] [nvarchar](10) NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_tblDiscount] PRIMARY KEY CLUSTERED 
(
	[DiscountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblLogin]    Script Date: 7/29/2017 6:31:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblLogin](
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NULL,
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[EmailID] [nvarchar](50) NULL,
 CONSTRAINT [PK_tblLogin] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblMainMenu]    Script Date: 7/29/2017 6:31:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblMainMenu](
	[MainMenuID] [int] IDENTITY(1,1) NOT NULL,
	[MainMenuText] [nvarchar](30) NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_tblMainMenu] PRIMARY KEY CLUSTERED 
(
	[MainMenuID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblOrderDetails]    Script Date: 7/29/2017 6:31:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblOrderDetails](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[OrderRegID] [int] NULL,
	[OrderProductID] [int] NULL,
	[OrderQty] [int] NULL,
	[OrderDate] [datetime] NULL,
	[OrderCountry] [nvarchar](50) NULL,
	[OrderByState] [nvarchar](50) NULL,
	[OrderByCity] [nvarchar](50) NULL,
	[AlterMobileNo] [nvarchar](50) NULL,
	[PayemntModeID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblPaymentMode]    Script Date: 7/29/2017 6:31:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPaymentMode](
	[PaymentModeID] [int] NOT NULL,
	[PaymentModeText] [nvarchar](50) NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_tnlPaymentMode] PRIMARY KEY CLUSTERED 
(
	[PaymentModeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblProductCategory]    Script Date: 7/29/2017 6:31:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblProductCategory](
	[ProdCategoryID] [int] IDENTITY(1,1) NOT NULL,
	[ProdCategoryName] [nvarchar](50) NULL,
	[ProdTypeID] [int] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_tblProductCategory] PRIMARY KEY CLUSTERED 
(
	[ProdCategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblProducts]    Script Date: 7/29/2017 6:31:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblProducts](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](50) NULL,
	[ProductDescription] [nvarchar](1000) NULL,
	[ProductBrandID] [int] NULL,
	[ProductTypeID] [int] NULL,
	[ProductCategoryID] [int] NULL,
	[ProductSubCategoryID] [int] NULL,
	[ProductColourID] [int] NULL,
	[ProductDiscountID] [int] NULL,
	[ProductQuantity] [int] NULL,
	[ProductPricePerUnit] [decimal](18, 2) NULL,
	[ProductPricePerDozen] [decimal](18, 2) NULL,
	[ProductSalesPricePerUnit] [decimal](18, 2) NULL,
	[ProductSalesPricePerDozen] [decimal](18, 2) NULL,
	[ProductIsActive] [bit] NULL,
	[ProducImageRefID] [int] NULL,
	[IsActive] [bit] NULL,
	[SubMenuID] [int] NULL,
 CONSTRAINT [PK_tblProducts] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblProductSize]    Script Date: 7/29/2017 6:31:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblProductSize](
	[ProductSizeID] [int] IDENTITY(1,1) NOT NULL,
	[ProductSizeText] [nvarchar](20) NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_tblProductSize] PRIMARY KEY CLUSTERED 
(
	[ProductSizeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblProductSubCategory]    Script Date: 7/29/2017 6:31:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblProductSubCategory](
	[ProdSubCategoryID] [int] IDENTITY(1,1) NOT NULL,
	[ProdSubCategoryText] [nvarchar](50) NULL,
	[ProdCategoryID] [int] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_tblProductSubCategoryID] PRIMARY KEY CLUSTERED 
(
	[ProdSubCategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblProductType]    Script Date: 7/29/2017 6:31:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblProductType](
	[ProdTypeID] [int] IDENTITY(1,1) NOT NULL,
	[ProdTypeText] [nvarchar](50) NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_tblProductType] PRIMARY KEY CLUSTERED 
(
	[ProdTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblReferenceProductImages]    Script Date: 7/29/2017 6:31:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblReferenceProductImages](
	[RefImageID] [int] IDENTITY(1,1) NOT NULL,
	[RefImagePath] [nvarchar](355) NULL,
	[ProductID] [int] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_tblReferenceProductImages] PRIMARY KEY CLUSTERED 
(
	[RefImageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblRegistration]    Script Date: 7/29/2017 6:31:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblRegistration](
	[RegistrationID] [int] NOT NULL,
	[RegName] [nvarchar](50) NULL,
	[RegDate] [datetime] NULL,
	[RegDob] [datetime] NULL,
	[RegMobileNo] [nvarchar](15) NULL,
	[RegDescription] [nvarchar](1000) NULL,
	[RegAddress] [nvarchar](1500) NULL,
	[RegGender] [nvarchar](20) NULL,
	[UserTypeID] [int] NULL,
	[UserPassword] [nvarchar](50) NULL,
 CONSTRAINT [PK_tblRegistration] PRIMARY KEY CLUSTERED 
(
	[RegistrationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblReviews]    Script Date: 7/29/2017 6:31:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblReviews](
	[ReviewID] [int] IDENTITY(1,1) NOT NULL,
	[ReviewRegID] [int] NULL,
	[ReviewPostedDate] [datetime] NULL,
	[ReviewDescription] [nvarchar](max) NULL,
	[ProductID] [int] NULL,
 CONSTRAINT [PK_tblReviews] PRIMARY KEY CLUSTERED 
(
	[ReviewID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblShowSizesOfProducts]    Script Date: 7/29/2017 6:31:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblShowSizesOfProducts](
	[ShowSizeID] [int] IDENTITY(1,1) NOT NULL,
	[ProductSizeID] [int] NULL,
	[ProductID] [int] NOT NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_tblShowSizesOfProducts] PRIMARY KEY CLUSTERED 
(
	[ShowSizeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblSubMenu]    Script Date: 7/29/2017 6:31:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSubMenu](
	[SubMenuID] [int] NOT NULL,
	[SubMenuText] [nvarchar](50) NULL,
	[SubMenuHeadingID] [int] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_tblSubMenu] PRIMARY KEY CLUSTERED 
(
	[SubMenuID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblSubMenuHeading]    Script Date: 7/29/2017 6:31:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSubMenuHeading](
	[SubMenuHeadingID] [int] IDENTITY(1,1) NOT NULL,
	[SubMenuHeadingText] [nvarchar](50) NULL,
	[MainMenuID] [int] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_tblSubMenuHeading] PRIMARY KEY CLUSTERED 
(
	[SubMenuHeadingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblUserType]    Script Date: 7/29/2017 6:31:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUserType](
	[UserTypeID] [int] NOT NULL,
	[UserTypeText] [nvarchar](50) NULL,
 CONSTRAINT [PK_tblUserType] PRIMARY KEY CLUSTERED 
(
	[UserTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[test]    Script Date: 7/29/2017 6:31:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[test](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[User] [nvarchar](50) NULL,
	[Test] [nvarchar](50) NULL,
 CONSTRAINT [PK_test] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 7/29/2017 6:31:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](56) NOT NULL,
	[FullName] [nvarchar](200) NULL,
	[EmailID] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[webpages_Membership]    Script Date: 7/29/2017 6:31:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[webpages_Membership](
	[UserId] [int] NOT NULL,
	[CreateDate] [datetime] NULL,
	[ConfirmationToken] [nvarchar](128) NULL,
	[IsConfirmed] [bit] NULL DEFAULT ((0)),
	[LastPasswordFailureDate] [datetime] NULL,
	[PasswordFailuresSinceLastSuccess] [int] NOT NULL DEFAULT ((0)),
	[Password] [nvarchar](128) NOT NULL,
	[PasswordChangedDate] [datetime] NULL,
	[PasswordSalt] [nvarchar](128) NOT NULL,
	[PasswordVerificationToken] [nvarchar](128) NULL,
	[PasswordVerificationTokenExpirationDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[webpages_OAuthMembership]    Script Date: 7/29/2017 6:31:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[webpages_OAuthMembership](
	[Provider] [nvarchar](30) NOT NULL,
	[ProviderUserId] [nvarchar](100) NOT NULL,
	[UserId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Provider] ASC,
	[ProviderUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[webpages_Roles]    Script Date: 7/29/2017 6:31:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[webpages_Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](256) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[webpages_UsersInRoles]    Script Date: 7/29/2017 6:31:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[webpages_UsersInRoles](
	[UserId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[tblBrand] ON 

GO
INSERT [dbo].[tblBrand] ([BrandID], [BrandName], [IsActive]) VALUES (2, N'asdasd', 1)
GO
INSERT [dbo].[tblBrand] ([BrandID], [BrandName], [IsActive]) VALUES (3, N'adasd', 1)
GO
INSERT [dbo].[tblBrand] ([BrandID], [BrandName], [IsActive]) VALUES (4, N'aa', 1)
GO
SET IDENTITY_INSERT [dbo].[tblBrand] OFF
GO
SET IDENTITY_INSERT [dbo].[tblLogin] ON 

GO
INSERT [dbo].[tblLogin] ([Username], [Password], [UserID], [EmailID]) VALUES (N'a@a.com', N'test', 1, NULL)
GO
INSERT [dbo].[tblLogin] ([Username], [Password], [UserID], [EmailID]) VALUES (N'a@a.com', N'123456', 2, NULL)
GO
INSERT [dbo].[tblLogin] ([Username], [Password], [UserID], [EmailID]) VALUES (N'b@b.com', NULL, 5, NULL)
GO
SET IDENTITY_INSERT [dbo].[tblLogin] OFF
GO
SET IDENTITY_INSERT [dbo].[tblMainMenu] ON 

GO
INSERT [dbo].[tblMainMenu] ([MainMenuID], [MainMenuText], [IsActive]) VALUES (3, N'Test', 1)
GO
INSERT [dbo].[tblMainMenu] ([MainMenuID], [MainMenuText], [IsActive]) VALUES (4, N'Test1', 1)
GO
INSERT [dbo].[tblMainMenu] ([MainMenuID], [MainMenuText], [IsActive]) VALUES (5, N'Test2', 1)
GO
SET IDENTITY_INSERT [dbo].[tblMainMenu] OFF
GO
SET IDENTITY_INSERT [dbo].[tblSubMenuHeading] ON 

GO
INSERT [dbo].[tblSubMenuHeading] ([SubMenuHeadingID], [SubMenuHeadingText], [MainMenuID], [IsActive]) VALUES (2, N'SubEditingTest2', 3, 1)
GO
INSERT [dbo].[tblSubMenuHeading] ([SubMenuHeadingID], [SubMenuHeadingText], [MainMenuID], [IsActive]) VALUES (3, N'Subtest', 3, 1)
GO
SET IDENTITY_INSERT [dbo].[tblSubMenuHeading] OFF
GO
SET IDENTITY_INSERT [dbo].[test] ON 

GO
INSERT [dbo].[test] ([ID], [User], [Test]) VALUES (1, N'Test', N'Test')
GO
INSERT [dbo].[test] ([ID], [User], [Test]) VALUES (2, N'Test', N'Test')
GO
INSERT [dbo].[test] ([ID], [User], [Test]) VALUES (3, N'Test', N'Test')
GO
SET IDENTITY_INSERT [dbo].[test] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

GO
INSERT [dbo].[Users] ([Id], [UserName], [FullName], [EmailID]) VALUES (1, N'Admin', N'Admin', N'saihacksoft@gmail.com')
GO
INSERT [dbo].[Users] ([Id], [UserName], [FullName], [EmailID]) VALUES (2, N'User', N'User', N'User@gmail.com')
GO
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
INSERT [dbo].[webpages_Membership] ([UserId], [CreateDate], [ConfirmationToken], [IsConfirmed], [LastPasswordFailureDate], [PasswordFailuresSinceLastSuccess], [Password], [PasswordChangedDate], [PasswordSalt], [PasswordVerificationToken], [PasswordVerificationTokenExpirationDate]) VALUES (1, CAST(N'2015-06-02 17:21:48.030' AS DateTime), NULL, 1, CAST(N'2017-07-28 05:48:55.007' AS DateTime), 17, N'AIKfdRWYiUq28sXOzmn7Fyqb5kfKYlT5mXin56MuVMWT5jybYdvME2m2f+tsRK2LSA==', CAST(N'2015-06-04 03:46:01.273' AS DateTime), N'', NULL, NULL)
GO
INSERT [dbo].[webpages_Membership] ([UserId], [CreateDate], [ConfirmationToken], [IsConfirmed], [LastPasswordFailureDate], [PasswordFailuresSinceLastSuccess], [Password], [PasswordChangedDate], [PasswordSalt], [PasswordVerificationToken], [PasswordVerificationTokenExpirationDate]) VALUES (2, CAST(N'2015-06-04 03:01:08.977' AS DateTime), NULL, 1, CAST(N'2015-08-30 12:07:24.250' AS DateTime), 0, N'AIKfdRWYiUq28sXOzmn7Fyqb5kfKYlT5mXin56MuVMWT5jybYdvME2m2f+tsRK2LSA==', CAST(N'2015-06-04 03:01:08.977' AS DateTime), N'', NULL, NULL)
GO
INSERT [dbo].[webpages_Membership] ([UserId], [CreateDate], [ConfirmationToken], [IsConfirmed], [LastPasswordFailureDate], [PasswordFailuresSinceLastSuccess], [Password], [PasswordChangedDate], [PasswordSalt], [PasswordVerificationToken], [PasswordVerificationTokenExpirationDate]) VALUES (5, CAST(N'2017-07-27 13:02:25.227' AS DateTime), NULL, 1, NULL, 0, N'ABsZoZTsmemRDMUzKsNa0zKet2mlxDDD7rGuuwDR6lxHDG+qWk4wXlWuuN7hSjdS2w==', CAST(N'2017-07-27 13:02:25.227' AS DateTime), N'', NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[webpages_Roles] ON 

GO
INSERT [dbo].[webpages_Roles] ([RoleId], [RoleName]) VALUES (1, N'Admin')
GO
INSERT [dbo].[webpages_Roles] ([RoleId], [RoleName]) VALUES (2, N'SystemUser')
GO
SET IDENTITY_INSERT [dbo].[webpages_Roles] OFF
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__Users__C9F284563403701C]    Script Date: 7/29/2017 6:31:38 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__webpages__8A2B6160C8F8E8CD]    Script Date: 7/29/2017 6:31:38 PM ******/
ALTER TABLE [dbo].[webpages_Roles] ADD UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblCardDetails]  WITH CHECK ADD  CONSTRAINT [FK_tblCardDetails_tblCardType] FOREIGN KEY([CardTypeID])
REFERENCES [dbo].[tblCardType] ([CardTypeID])
GO
ALTER TABLE [dbo].[tblCardDetails] CHECK CONSTRAINT [FK_tblCardDetails_tblCardType]
GO
ALTER TABLE [dbo].[tblCardDetails]  WITH CHECK ADD  CONSTRAINT [FK_tblCardDetails_tblRegistration] FOREIGN KEY([CardRegistrationID])
REFERENCES [dbo].[tblRegistration] ([RegistrationID])
GO
ALTER TABLE [dbo].[tblCardDetails] CHECK CONSTRAINT [FK_tblCardDetails_tblRegistration]
GO
ALTER TABLE [dbo].[tblOrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_tblOrderDetails_tblProducts] FOREIGN KEY([OrderProductID])
REFERENCES [dbo].[tblProducts] ([ProductID])
GO
ALTER TABLE [dbo].[tblOrderDetails] CHECK CONSTRAINT [FK_tblOrderDetails_tblProducts]
GO
ALTER TABLE [dbo].[tblOrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_tblOrderDetails_tblRegistration] FOREIGN KEY([OrderRegID])
REFERENCES [dbo].[tblRegistration] ([RegistrationID])
GO
ALTER TABLE [dbo].[tblOrderDetails] CHECK CONSTRAINT [FK_tblOrderDetails_tblRegistration]
GO
ALTER TABLE [dbo].[tblOrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_tblOrderDetails_tnlPaymentMode] FOREIGN KEY([PayemntModeID])
REFERENCES [dbo].[tblPaymentMode] ([PaymentModeID])
GO
ALTER TABLE [dbo].[tblOrderDetails] CHECK CONSTRAINT [FK_tblOrderDetails_tnlPaymentMode]
GO
ALTER TABLE [dbo].[tblProductCategory]  WITH CHECK ADD  CONSTRAINT [FK_tblProductCategory_tblProductType] FOREIGN KEY([ProdTypeID])
REFERENCES [dbo].[tblProductType] ([ProdTypeID])
GO
ALTER TABLE [dbo].[tblProductCategory] CHECK CONSTRAINT [FK_tblProductCategory_tblProductType]
GO
ALTER TABLE [dbo].[tblProducts]  WITH CHECK ADD  CONSTRAINT [FK_tblProducts_tblBrand] FOREIGN KEY([ProductBrandID])
REFERENCES [dbo].[tblBrand] ([BrandID])
GO
ALTER TABLE [dbo].[tblProducts] CHECK CONSTRAINT [FK_tblProducts_tblBrand]
GO
ALTER TABLE [dbo].[tblProducts]  WITH CHECK ADD  CONSTRAINT [FK_tblProducts_tblColour] FOREIGN KEY([ProductColourID])
REFERENCES [dbo].[tblColour] ([ColourID])
GO
ALTER TABLE [dbo].[tblProducts] CHECK CONSTRAINT [FK_tblProducts_tblColour]
GO
ALTER TABLE [dbo].[tblProducts]  WITH CHECK ADD  CONSTRAINT [FK_tblProducts_tblDiscount] FOREIGN KEY([ProductDiscountID])
REFERENCES [dbo].[tblDiscount] ([DiscountID])
GO
ALTER TABLE [dbo].[tblProducts] CHECK CONSTRAINT [FK_tblProducts_tblDiscount]
GO
ALTER TABLE [dbo].[tblProducts]  WITH CHECK ADD  CONSTRAINT [FK_tblProducts_tblProductCategory] FOREIGN KEY([ProductCategoryID])
REFERENCES [dbo].[tblProductCategory] ([ProdCategoryID])
GO
ALTER TABLE [dbo].[tblProducts] CHECK CONSTRAINT [FK_tblProducts_tblProductCategory]
GO
ALTER TABLE [dbo].[tblProducts]  WITH CHECK ADD  CONSTRAINT [FK_tblProducts_tblProductSubCategoryID] FOREIGN KEY([ProductSubCategoryID])
REFERENCES [dbo].[tblProductSubCategory] ([ProdSubCategoryID])
GO
ALTER TABLE [dbo].[tblProducts] CHECK CONSTRAINT [FK_tblProducts_tblProductSubCategoryID]
GO
ALTER TABLE [dbo].[tblProducts]  WITH CHECK ADD  CONSTRAINT [FK_tblProducts_tblProductType] FOREIGN KEY([ProductTypeID])
REFERENCES [dbo].[tblProductType] ([ProdTypeID])
GO
ALTER TABLE [dbo].[tblProducts] CHECK CONSTRAINT [FK_tblProducts_tblProductType]
GO
ALTER TABLE [dbo].[tblProducts]  WITH CHECK ADD  CONSTRAINT [FK_tblProducts_tblReferenceProductImages] FOREIGN KEY([ProducImageRefID])
REFERENCES [dbo].[tblReferenceProductImages] ([RefImageID])
GO
ALTER TABLE [dbo].[tblProducts] CHECK CONSTRAINT [FK_tblProducts_tblReferenceProductImages]
GO
ALTER TABLE [dbo].[tblProducts]  WITH CHECK ADD  CONSTRAINT [FK_tblProducts_tblSubMenu] FOREIGN KEY([SubMenuID])
REFERENCES [dbo].[tblSubMenu] ([SubMenuID])
GO
ALTER TABLE [dbo].[tblProducts] CHECK CONSTRAINT [FK_tblProducts_tblSubMenu]
GO
ALTER TABLE [dbo].[tblProductSubCategory]  WITH CHECK ADD  CONSTRAINT [FK_tblProductSubCategoryID_tblProductCategory] FOREIGN KEY([ProdCategoryID])
REFERENCES [dbo].[tblProductCategory] ([ProdCategoryID])
GO
ALTER TABLE [dbo].[tblProductSubCategory] CHECK CONSTRAINT [FK_tblProductSubCategoryID_tblProductCategory]
GO
ALTER TABLE [dbo].[tblRegistration]  WITH CHECK ADD  CONSTRAINT [FK_tblRegistration_tblUserType] FOREIGN KEY([UserTypeID])
REFERENCES [dbo].[tblUserType] ([UserTypeID])
GO
ALTER TABLE [dbo].[tblRegistration] CHECK CONSTRAINT [FK_tblRegistration_tblUserType]
GO
ALTER TABLE [dbo].[tblReviews]  WITH CHECK ADD  CONSTRAINT [FK_tblReviews_tblProducts] FOREIGN KEY([ProductID])
REFERENCES [dbo].[tblProducts] ([ProductID])
GO
ALTER TABLE [dbo].[tblReviews] CHECK CONSTRAINT [FK_tblReviews_tblProducts]
GO
ALTER TABLE [dbo].[tblReviews]  WITH CHECK ADD  CONSTRAINT [FK_tblReviews_tblRegistration] FOREIGN KEY([ReviewRegID])
REFERENCES [dbo].[tblRegistration] ([RegistrationID])
GO
ALTER TABLE [dbo].[tblReviews] CHECK CONSTRAINT [FK_tblReviews_tblRegistration]
GO
ALTER TABLE [dbo].[tblShowSizesOfProducts]  WITH CHECK ADD  CONSTRAINT [FK_tblShowSizesOfProducts_tblProducts] FOREIGN KEY([ProductID])
REFERENCES [dbo].[tblProducts] ([ProductID])
GO
ALTER TABLE [dbo].[tblShowSizesOfProducts] CHECK CONSTRAINT [FK_tblShowSizesOfProducts_tblProducts]
GO
ALTER TABLE [dbo].[tblShowSizesOfProducts]  WITH CHECK ADD  CONSTRAINT [FK_tblShowSizesOfProducts_tblProductSize] FOREIGN KEY([ProductSizeID])
REFERENCES [dbo].[tblProductSize] ([ProductSizeID])
GO
ALTER TABLE [dbo].[tblShowSizesOfProducts] CHECK CONSTRAINT [FK_tblShowSizesOfProducts_tblProductSize]
GO
ALTER TABLE [dbo].[tblSubMenu]  WITH CHECK ADD  CONSTRAINT [FK_tblSubMenu_tblSubMenuHeading] FOREIGN KEY([SubMenuHeadingID])
REFERENCES [dbo].[tblSubMenuHeading] ([SubMenuHeadingID])
GO
ALTER TABLE [dbo].[tblSubMenu] CHECK CONSTRAINT [FK_tblSubMenu_tblSubMenuHeading]
GO
ALTER TABLE [dbo].[tblSubMenuHeading]  WITH CHECK ADD  CONSTRAINT [FK_tblSubMenuHeading_tblMainMenu] FOREIGN KEY([MainMenuID])
REFERENCES [dbo].[tblMainMenu] ([MainMenuID])
GO
ALTER TABLE [dbo].[tblSubMenuHeading] CHECK CONSTRAINT [FK_tblSubMenuHeading_tblMainMenu]
GO
ALTER TABLE [dbo].[webpages_UsersInRoles]  WITH CHECK ADD  CONSTRAINT [fk_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[webpages_Roles] ([RoleId])
GO
ALTER TABLE [dbo].[webpages_UsersInRoles] CHECK CONSTRAINT [fk_RoleId]
GO
/****** Object:  StoredProcedure [dbo].[CheckLogin]    Script Date: 7/29/2017 6:31:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[CheckLogin]
@username nvarchar(50) = nulll,
@password nvarchar(50) = null
As
Begin
Select * From tblLogin
   Where Username = @username
And Password = @password	
End
GO
/****** Object:  StoredProcedure [dbo].[Crud_OrderDeatils_Operations]    Script Date: 7/29/2017 6:31:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[Crud_OrderDeatils_Operations]
@OrderID Int = null,
@OrderRegID int = null,
@OrderProductID int = null,
@OrderQty int = null,
@OrderDate datetime = null,
@OrderCountry nvarchar(50) = null,
@OrderByState nvarchar(50) = null,
@OrderByCity nvarchar(50) = null,
@AlterMobileNo nvarchar(15) = null,
@PayemntModeID int = null
As
Begin
Insert Into tblOrderDetails(OrderID, OrderRegID, OrderProductID, OrderQty, OrderDate, OrderCountry,
OrderByState, OrderByCity, AlterMobileNo, PayemntModeID) Values(@OrderID, @OrderRegID, @OrderProductID,
@OrderQty, @OrderDate, @OrderCountry, @OrderByState, @OrderByCity, @AlterMobileNo, @PayemntModeID)
End
GO
/****** Object:  StoredProcedure [dbo].[Delete_Card_Details]    Script Date: 7/29/2017 6:31:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[Delete_Card_Details]
@CardDetailID int = null
As
Begin
Delete From tblCardDetails Where CardDetailID = @CardDetailID
End
GO
/****** Object:  StoredProcedure [dbo].[Delete_CardType]    Script Date: 7/29/2017 6:31:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[Delete_CardType]
@CardTypeID int = null
As
Begin
Delete From tblCardType Where CardTypeID = @CardTypeID
End
GO
/****** Object:  StoredProcedure [dbo].[Delete_Colour]    Script Date: 7/29/2017 6:31:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[Delete_Colour]
@ColourID int = null
As
Begin
Delete From tblColour Where ColourID = @ColourID
End
GO
/****** Object:  StoredProcedure [dbo].[Delete_Colour_Operations]    Script Date: 7/29/2017 6:31:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[Delete_Colour_Operations]
@ColourID int = null
As
Begin
Delete From tblColour Where ColourID = @ColourID
End
GO
/****** Object:  StoredProcedure [dbo].[Delete_Discount]    Script Date: 7/29/2017 6:31:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[Delete_Discount]
@DiscountID int = null
As
Begin
Delete From tblDiscount Where DiscountID = @DiscountID
End
GO
/****** Object:  StoredProcedure [dbo].[Delete_MainMenu]    Script Date: 7/29/2017 6:31:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[Delete_MainMenu]
@MainMenuID int = null,
@Error int out
As
Begin
Delete From tblMainMenu Where MainMenuID = @MainMenuID
if(@@ERROR > 0)
Begin
Set @Error = 0
return @Error
End
Else
Begin
Set @Error = 1
return
End
End
GO
/****** Object:  StoredProcedure [dbo].[Delete_OrderDeatils]    Script Date: 7/29/2017 6:31:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[Delete_OrderDeatils]
@OrderID Int = null
As
Begin
Delete From tblOrderDetails Where OrderID = @OrderID
End
GO
/****** Object:  StoredProcedure [dbo].[Delete_PaymentCategory]    Script Date: 7/29/2017 6:31:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[Delete_PaymentCategory]
@ProdCategoryID int = null
As
Begin
Delete From tblProductCategory Where ProdCategoryID = @ProdCategoryID
End
GO
/****** Object:  StoredProcedure [dbo].[Delete_PaymentMode]    Script Date: 7/29/2017 6:31:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[Delete_PaymentMode]
@PaymentModeID int = null
As
Begin
Delete From tblPaymentMode Where PaymentModeID = @PaymentModeID
End
GO
/****** Object:  StoredProcedure [dbo].[Delete_Products]    Script Date: 7/29/2017 6:31:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[Delete_Products]
@ProductID int = null
As
Begin
Delete From tblProducts Where ProductID = @ProductID
End
GO
/****** Object:  StoredProcedure [dbo].[Delete_ProductType]    Script Date: 7/29/2017 6:31:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[Delete_ProductType]
@ProdTypeID int =null
As
Begin
Delete From tblProductType Where ProdTypeID = @ProdTypeID
End
GO
/****** Object:  StoredProcedure [dbo].[Delete_ReferenceProductImages]    Script Date: 7/29/2017 6:31:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[Delete_ReferenceProductImages]
@RefImageID int = null
As
Begin
Delete From tblReferenceProductImages Where RefImageID = @RefImageID
End
GO
/****** Object:  StoredProcedure [dbo].[Delete_Registration]    Script Date: 7/29/2017 6:31:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[Delete_Registration]
@RegistrationID int = null
As
Begin
Delete From tblRegistration Where RegistrationID = @RegistrationID
End
GO
/****** Object:  StoredProcedure [dbo].[Delete_SubMenu_Operations]    Script Date: 7/29/2017 6:31:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[Delete_SubMenu_Operations]
@SubMenuID int = null
As
Begin
Delete From tblSubMenu	Where SubMenuID = @SubMenuID
End
GO
/****** Object:  StoredProcedure [dbo].[Delete_SubMenuHeading]    Script Date: 7/29/2017 6:31:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[Delete_SubMenuHeading]
@SubMenuHeadingID int = null,
@SubMenuHeadingIDD int out
As
Begin
Delete From tblSubMenuHeading Where SubMenuHeadingID = @SubMenuHeadingID
if(@@ERROR > 0)
Begin
Set @SubMenuHeadingIDD = 0
End
Else
Begin
Set @SubMenuHeadingIDD = 1
End
End
GO
/****** Object:  StoredProcedure [dbo].[Delete_UserType]    Script Date: 7/29/2017 6:31:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[Delete_UserType]
@UserTypeID int = null
As
Begin
Delete From tblUserType Where UserTypeID = @UserTypeID
End
GO
/****** Object:  StoredProcedure [dbo].[DeleteBrand]    Script Date: 7/29/2017 6:31:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[DeleteBrand]
@BrandID int = null
As
Begin
Delete From tblBrand Where BrandID = @BrandID
End
GO
/****** Object:  StoredProcedure [dbo].[Load_Active_MainMenu]    Script Date: 7/29/2017 6:31:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[Load_Active_MainMenu]
As
Begin
Select * From tblMainMenu Where IsActive = 1
End
GO
/****** Object:  StoredProcedure [dbo].[Load_All_Card_Details]    Script Date: 7/29/2017 6:31:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[Load_All_Card_Details]

As
Begin
Select * From tblCardDetails
End
GO
/****** Object:  StoredProcedure [dbo].[Load_All_CardType]    Script Date: 7/29/2017 6:31:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[Load_All_CardType]
As
Begin
Select * From tblCardType
End
GO
/****** Object:  StoredProcedure [dbo].[Load_All_Colour]    Script Date: 7/29/2017 6:31:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[Load_All_Colour]
As
Begin
Select * From tblColour
End
GO
/****** Object:  StoredProcedure [dbo].[Load_All_Colour_Operations]    Script Date: 7/29/2017 6:31:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create Proc [dbo].[Load_All_Colour_Operations]
As
Begin
Select * From tblColour
End
GO
/****** Object:  StoredProcedure [dbo].[Load_All_Discount]    Script Date: 7/29/2017 6:31:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[Load_All_Discount]
As
Begin
Select * From tblDiscount
End
GO
/****** Object:  StoredProcedure [dbo].[Load_All_MainMenu]    Script Date: 7/29/2017 6:31:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create Proc [dbo].[Load_All_MainMenu]
As
Begin
Select * From tblMainMenu
End
GO
/****** Object:  StoredProcedure [dbo].[Load_All_OrderDeatils]    Script Date: 7/29/2017 6:31:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[Load_All_OrderDeatils]
As
Begin
Select * From tblOrderDetails
End
GO
/****** Object:  StoredProcedure [dbo].[Load_All_PaymentCategory]    Script Date: 7/29/2017 6:31:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[Load_All_PaymentCategory]
As
Begin
Select * From tblProductCategory
End
GO
/****** Object:  StoredProcedure [dbo].[Load_All_PaymentMode]    Script Date: 7/29/2017 6:31:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[Load_All_PaymentMode]
@PaymentModeID int = null
As
Begin
Select * From tblPaymentMode
End
GO
/****** Object:  StoredProcedure [dbo].[Load_All_Products]    Script Date: 7/29/2017 6:31:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[Load_All_Products]
As
Begin

Select * From tblProducts T1 Left Join tblBrand  T2 On T1.ProductBrandID = T2.BrandID
Left Join tblProductType  T3 On T1.ProductTypeID = T3.ProdTypeID Left Join tblProductCategory T4
On T1.ProductCategoryID = T4.ProdCategoryID Left Join tblProductSubCategory T5 On T1.ProductSubCategoryID
= T5.ProdSubCategoryID Left Join tblColour T6 On T1.ProductColourID = T6.ColourID Left Join tblDiscount T7
On T1.ProductDiscountID = T7.DiscountID Left Join tblSubMenu T8 On T1.SubMenuID = T8.SubMenuID 
End
GO
/****** Object:  StoredProcedure [dbo].[Load_All_ProductType]    Script Date: 7/29/2017 6:31:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create Proc [dbo].[Load_All_ProductType]
As
Begin
Select * From tblProductType
End
GO
/****** Object:  StoredProcedure [dbo].[Load_All_ReferenceProductImages]    Script Date: 7/29/2017 6:31:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[Load_All_ReferenceProductImages]
As
Begin
Select * From tblReferenceProductImages
End
GO
/****** Object:  StoredProcedure [dbo].[Load_All_Registration]    Script Date: 7/29/2017 6:31:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[Load_All_Registration]
As
Begin
Select * From tblRegistration
End
GO
/****** Object:  StoredProcedure [dbo].[Load_All_SubMenuHeading]    Script Date: 7/29/2017 6:31:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[Load_All_SubMenuHeading]

As

begin

Select * From tblSubMenuHeading T1 Left Join tblMainMenu T2 On T1.MainMenuID = T2.MainMenuID

End
GO
/****** Object:  StoredProcedure [dbo].[Load_Card_Details_By_ID]    Script Date: 7/29/2017 6:31:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[Load_Card_Details_By_ID]
@CardDetailID int = null
As
Begin
Select * From tblCardDetails Where CardDetailID = @CardDetailID
End
GO
/****** Object:  StoredProcedure [dbo].[Load_CardType_By_ID]    Script Date: 7/29/2017 6:31:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[Load_CardType_By_ID]
@CardTypeID int = null
As
Begin
Select * From tblCardType Where CardTypeID = @CardTypeID
End
GO
/****** Object:  StoredProcedure [dbo].[Load_Colour_By_ID]    Script Date: 7/29/2017 6:31:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[Load_Colour_By_ID]
@ColourID int = null
As
Begin
Select * From tblColour Where ColourID = @ColourID
End
GO
/****** Object:  StoredProcedure [dbo].[Load_Discount_By_ID]    Script Date: 7/29/2017 6:31:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[Load_Discount_By_ID]
@DiscountID int = null
As
Begin
Select * From tblDiscount Where DiscountID = @DiscountID
End
GO
/****** Object:  StoredProcedure [dbo].[Load_MainMenu_By_ID]    Script Date: 7/29/2017 6:31:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[Load_MainMenu_By_ID]
@MainMenuID int
As
Begin
Select * From tblMainMenu Where MainMenuID = @MainMenuID
End
GO
/****** Object:  StoredProcedure [dbo].[Load_OrderDeatils_By_ID]    Script Date: 7/29/2017 6:31:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create Proc [dbo].[Load_OrderDeatils_By_ID]
@OrderID Int = null
As
Begin
Select * From tblOrderDetails Where OrderID = @OrderID
End
GO
/****** Object:  StoredProcedure [dbo].[Load_PaymentCategory_By_ID]    Script Date: 7/29/2017 6:31:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[Load_PaymentCategory_By_ID]
@ProdCategoryID int = null
As
Begin
Select * From tblProductCategory Where ProdCategoryID = @ProdCategoryID
End
GO
/****** Object:  StoredProcedure [dbo].[Load_PaymentMode_By_ID]    Script Date: 7/29/2017 6:31:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[Load_PaymentMode_By_ID]
@PaymentModeID int = null
As
Begin
Select * From tblPaymentMode Where PaymentModeID = @PaymentModeID
End
GO
/****** Object:  StoredProcedure [dbo].[Load_ReferenceProductImages_By_ID]    Script Date: 7/29/2017 6:31:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[Load_ReferenceProductImages_By_ID]
@RefImageID int = null
As
Begin
Select * From tblReferenceProductImages Where RefImageID = @RefImageID
End
GO
/****** Object:  StoredProcedure [dbo].[Load_Registration_By_Id]    Script Date: 7/29/2017 6:31:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[Load_Registration_By_Id]
@RegistrationID int = null
As
Begin
Select * From tblRegistration Where RegistrationID = @RegistrationID
End
GO
/****** Object:  StoredProcedure [dbo].[Load_SubMenuHeading_By_ID]    Script Date: 7/29/2017 6:31:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[Load_SubMenuHeading_By_ID]
(

@SubMenuHeadingID int = null

)
As

begin

Select * From tblSubMenuHeading T1 Left Join tblMainMenu
T2 On T1.SubMenuHeadingID = T2.MainMenuID Where SubMenuHeadingID = @SubMenuHeadingID

End
GO
/****** Object:  StoredProcedure [dbo].[LoadAllBrand]    Script Date: 7/29/2017 6:31:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[LoadAllBrand]

As
Begin
Select * From tblBrand
End
GO
/****** Object:  StoredProcedure [dbo].[LoadBrandByID]    Script Date: 7/29/2017 6:31:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[LoadBrandByID]
@BrandID int = null
As
Begin
Select * From tblBrand Where BrandID = @BrandID
End
GO
/****** Object:  StoredProcedure [dbo].[Loadd_Active_MainMenu]    Script Date: 7/29/2017 6:31:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[Loadd_Active_MainMenu]
As
Begin
Select * From tblMainMenu Where IsActive = 1
End
GO
/****** Object:  StoredProcedure [dbo].[Save_Card_Details]    Script Date: 7/29/2017 6:31:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[Save_Card_Details]
@CardDetailNo nvarchar(50) = null,
@CardDetailsName nvarchar(50) = null,
@CardDetailsCvv nvarchar(10) = null,
@CardTypeID int = null,
@CardRegistrationID int = null

As
Begin

Insert Into tblCardDetails(CardDetailNo, CardDetailsName, CardDetailsCvv, CardTypeID, CardRegistrationID)
Values(@CardDetailNo, @CardDetailsName, @CardDetailsCvv, @CardTypeID, @CardRegistrationID)
End
GO
/****** Object:  StoredProcedure [dbo].[Save_CardType]    Script Date: 7/29/2017 6:31:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[Save_CardType]
@CardTypeText nvarchar(50) = null
As
Begin
Insert Into tblCardType(CardTypeText) Values(@CardTypeText)
End
GO
/****** Object:  StoredProcedure [dbo].[Save_Colour]    Script Date: 7/29/2017 6:31:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[Save_Colour]
@ColourText nvarchar(50) = null,
@IsActive bit = null
As
Begin
Insert Into tblColour(ColourText, IsActive) Values(@ColourText, @IsActive)
End
GO
/****** Object:  StoredProcedure [dbo].[Save_Colour_Operations]    Script Date: 7/29/2017 6:31:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[Save_Colour_Operations]
@ColourText nvarchar(50) = null,
@IsActive bit = null
As
Begin
Insert Into tblColour(ColourText, IsActive) Values(@ColourText, @IsActive)
End
GO
/****** Object:  StoredProcedure [dbo].[Save_Discount]    Script Date: 7/29/2017 6:31:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[Save_Discount]
@DiscountText nvarchar(10) = null,
@IsActive bit = null
As
Begin
Insert Into tblDiscount(DiscountText, IsActive) Values(@DiscountText, @IsActive)
End
GO
/****** Object:  StoredProcedure [dbo].[Save_MainMenu]    Script Date: 7/29/2017 6:31:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[Save_MainMenu]
@MainMenuText nvarchar(50) = null,
@IsActive bit = null,
@MainMenuID int out
As
Begin
declare @returnValue int
Insert Into tblMainMenu(MainMenuText, IsActive) Values(@MainMenuText, @IsActive)
Select @MainMenuID = SCOPE_IDENTITY();
Set @returnValue = SCOPE_IDENTITY();
if(@@ERROR > 0)
Begin
Set @MainMenuID = -1
End
Else
Begin
Select @MainMenuID = @returnValue
End
End
GO
/****** Object:  StoredProcedure [dbo].[Save_OrderDeatils]    Script Date: 7/29/2017 6:31:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[Save_OrderDeatils]
@OrderRegID int = null,
@OrderProductID int = null,
@OrderQty int = null,
@OrderDate datetime = null,
@OrderCountry nvarchar(50) = null,
@OrderByState nvarchar(50) = null,
@OrderByCity nvarchar(50) = null,
@AlterMobileNo nvarchar(15) = null,
@PayemntModeID int = null
As
Begin
Insert Into tblOrderDetails(OrderRegID, OrderProductID, OrderQty, OrderDate, OrderCountry,
OrderByState, OrderByCity, AlterMobileNo, PayemntModeID) Values(@OrderRegID, @OrderProductID,
@OrderQty, @OrderDate, @OrderCountry, @OrderByState, @OrderByCity, @AlterMobileNo, @PayemntModeID)
End
GO
/****** Object:  StoredProcedure [dbo].[Save_PaymentCategory]    Script Date: 7/29/2017 6:31:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[Save_PaymentCategory]
@ProdCategoryName nvarchar(50) = null,
@ProdTypeID int = null,
@IsActive bit = null
As
Begin
Insert Into tblProductCategory(ProdCategoryName, ProdTypeID, IsActive) Values(@ProdCategoryName, @ProdTypeID, @IsActive)
End
GO
/****** Object:  StoredProcedure [dbo].[Save_PaymentMode]    Script Date: 7/29/2017 6:31:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[Save_PaymentMode]
@PaymentModeText nvarchar(50) = null,
@IsActive bit = null
As
Begin
Insert Into tblPaymentMode(PaymentModeText, IsActive) Values(@PaymentModeText, @IsActive)
End
GO
/****** Object:  StoredProcedure [dbo].[Save_ProductReviews]    Script Date: 7/29/2017 6:31:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[Save_ProductReviews]
@ReviewRegID int = null,
@ReviewPostedDate datetime = null,
@ReviewDescription nvarchar(max) = null,
@ProductID int = null
As
Begin
Insert Into tblReviews(ReviewRegID, ReviewPostedDate, ReviewDescription, ProductID) Values(@ReviewRegID, @ReviewPostedDate, @ReviewDescription, @ProductID)
End
GO
/****** Object:  StoredProcedure [dbo].[Save_Products]    Script Date: 7/29/2017 6:31:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[Save_Products]
@ProductName nvarchar(50) = null,
@ProductDescription nvarchar(1000) = null,
@ProductBrandID int = null,
@ProductTypeID int = null,
@ProductCategoryID int = null,
@ProductSubCategoryID int = null,
@ProductColourID int = null,
@ProductDiscountID int = null,
@ProductQuantity int = null,
@ProductPricePerUnit decimal(18,2) = null,
@ProductPricePerDozen decimal(18,2) = null,
@ProductSalesPricePerUnit decimal(18,2) = null,
@ProductSalesPricePerDozen decimal(18,2) = null,
@ProductIsActive bit = null,
@ProducImageRefID int = null,
@IsActive bit = null,
@SubMenuID int = null
As
Begin
Insert Into tblProducts(ProductName, ProductDescription, ProductBrandID, ProductTypeID, ProductCategoryID,
ProductSubCategoryID, ProductColourID, ProductDiscountID, ProductQuantity, ProductPricePerUnit, ProductPricePerDozen,
ProductSalesPricePerUnit, ProductSalesPricePerDozen, ProductIsActive, ProducImageRefID, IsActive, SubMenuID)
Values(@ProductName, @ProductDescription, @ProductBrandID, @ProductTypeID, @ProductCategoryID,
@ProductSubCategoryID, @ProductColourID, @ProductDiscountID, @ProductQuantity, @ProductPricePerUnit,
@ProductPricePerDozen,@ProductSalesPricePerUnit, @ProductSalesPricePerDozen, @ProductIsActive,
@ProducImageRefID, @IsActive, @SubMenuID)
End
GO
/****** Object:  StoredProcedure [dbo].[Save_ProductType]    Script Date: 7/29/2017 6:31:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[Save_ProductType]
@ProdTypeText nvarchar(50) = null,
@IsActive bit = null
As
Begin
Insert Into tblProductType(ProdTypeText, IsActive) Values(@ProdTypeText, @IsActive)
End
GO
/****** Object:  StoredProcedure [dbo].[Save_ReferenceProductImages]    Script Date: 7/29/2017 6:31:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[Save_ReferenceProductImages]
@RefImagePath nvarchar(355) = null,
@ProductID int = null,
@IsActive bit = null
As
Begin
Insert Into tblReferenceProductImages(RefImagePath, ProductID, IsActive) Values(@RefImagePath, @ProductID, @IsActive)
End
GO
/****** Object:  StoredProcedure [dbo].[Save_Registration]    Script Date: 7/29/2017 6:31:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[Save_Registration]
@RegName nvarchar(50) = null,
@RegDate datetime = null,
@RegDob datetime = null,
@RegMobileNo nvarchar(15) = null,
@RegDescription nvarchar(1000) = null,
@RegAddress nvarchar(1500) = null,
@RegGender nvarchar(20) = null,
@UserTypeID int = null,
@UserPassword nvarchar(50) = null
As
Begin
Insert Into tblRegistration(RegName, RegDate, RegDob, RegMobileNo, RegDescription, RegAddress, RegGender, UserTypeID
,UserPassword) Values(@RegName, @RegDate, @RegDob, @RegMobileNo, @RegDescription, @RegAddress, @RegGender, @UserTypeID
,@UserPassword)
End
GO
/****** Object:  StoredProcedure [dbo].[Save_SubMenu_Operations]    Script Date: 7/29/2017 6:31:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[Save_SubMenu_Operations]
@SubMenuText nvarchar(50) = null,
@SubMenuHeadingID int = null,
@IsActive bit = null
As
Begin
Insert Into tblSubMenu(SubMenuText, SubMenuHeadingID, IsActive)
Values(@SubMenuText, @SubMenuHeadingID, @IsActive)
End
GO
/****** Object:  StoredProcedure [dbo].[Save_SubMenuHeading]    Script Date: 7/29/2017 6:31:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[Save_SubMenuHeading]
@SubMenuHeadingText nvarchar(50) = null,
@MainMenuID int = null,
@IsActive bit = null,
@SubMenuHeadingID int out
As
Begin

declare @ReturnValue int

Insert Into tblSubMenuHeading(SubMenuHeadingText, MainMenuID, IsActive)

 Values(@SubMenuHeadingText, @MainMenuID, @IsActive)

Select @SubMenuHeadingID = SCOPE_IDENTITY();

Set @ReturnValue = SCOPE_IDENTITY();

if(@@ERROR > 0)

Begin

Set @SubMenuHeadingID = -1

End

Else

Begin

Set @SubMenuHeadingID = @ReturnValue

End

End
GO
/****** Object:  StoredProcedure [dbo].[Save_UserType]    Script Date: 7/29/2017 6:31:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[Save_UserType]
@UserTypeText nvarchar(50) = null,
@action nvarchar(10) = null
As
Begin
Insert Into tblUserType(UserTypeText) Values(@UserTypeText)
End
GO
/****** Object:  StoredProcedure [dbo].[SaveBrand]    Script Date: 7/29/2017 6:31:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[SaveBrand]
@BrandName nvarchar(50) = null,
@IsActive bit = null
As
Begin
Insert Into tblBrand(BrandName, IsActive) Values(@BrandName, @IsActive)
End
GO
/****** Object:  StoredProcedure [dbo].[SaveLoginDetails]    Script Date: 7/29/2017 6:31:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SaveLoginDetails]
@username nvarchar(50) = null,
@password nvarchar(100) = null,
@UserID int out
As
Begin
declare @returnValue int

Insert Into tblLogin
	(Username, [Password])
Values(@username, @password)

Select @UserID  = SCOPE_IDENTITY()
Set @returnValue = SCOPE_IDENTITY()


if(@@ERROR != 0)
Begin
Set @UserID = -1
End
Else
Begin
Set @UserID = @returnValue
End
End
GO
/****** Object:  StoredProcedure [dbo].[Testsp]    Script Date: 7/29/2017 6:31:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[Testsp]
As
Begin
Select [User], [Test] As TestText From Test
End
GO
/****** Object:  StoredProcedure [dbo].[Update_Card_Details]    Script Date: 7/29/2017 6:31:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[Update_Card_Details]
@CardDetailID int = null,
@CardDetailNo nvarchar(50) = null,
@CardDetailsName nvarchar(50) = null,
@CardDetailsCvv nvarchar(10) = null,
@CardTypeID int = null,
@CardRegistrationID int = null

As
Begin
Update tblCardDetails Set CardDetailNo = @CardDetailNo, CardDetailsName = @CardDetailsName,
CardDetailsCvv = @CardDetailsCvv, CardTypeID = @CardTypeID, CardRegistrationID = @CardRegistrationID
Where CardDetailID = @CardDetailID
End
GO
/****** Object:  StoredProcedure [dbo].[Update_CardType]    Script Date: 7/29/2017 6:31:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[Update_CardType]
@CardTypeID int = null,
@CardTypeText nvarchar(50) = null
As
Begin
Update tblCardType Set CardTypeText = @CardTypeText Where CardTypeID = @CardTypeID
End
GO
/****** Object:  StoredProcedure [dbo].[Update_Colour]    Script Date: 7/29/2017 6:31:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[Update_Colour]
@ColourID int = null,
@ColourText nvarchar(50) = null,
@IsActive bit = null
As
Begin
Update tblColour Set ColourText = @ColourText, IsActive = @IsActive Where ColourID = @ColourID
End
GO
/****** Object:  StoredProcedure [dbo].[Update_Colour_Operations]    Script Date: 7/29/2017 6:31:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[Update_Colour_Operations]
@ColourID int = null,
@ColourText nvarchar(50) = null,
@IsActive bit = null
As
Begin
Update tblColour Set ColourText = @ColourText, IsActive = @IsActive Where ColourID = @ColourID
End
GO
/****** Object:  StoredProcedure [dbo].[Update_Discount]    Script Date: 7/29/2017 6:31:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[Update_Discount]
@DiscountID int = null,
@DiscountText nvarchar(10) = null,
@IsActive bit = null
As
Begin
Update tblDiscount Set DiscountText = @DiscountText, IsActive = @IsActive Where DiscountID = @DiscountID
End
GO
/****** Object:  StoredProcedure [dbo].[Update_MainMenu]    Script Date: 7/29/2017 6:31:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[Update_MainMenu]
@MainMenuID int = null,
@MainMenuText nvarchar(50) = null,
@IsActive bit = null,
@MainMenuIDD int out
As
Begin
Update tblMainMenu Set MainMenuText = @MainMenuText, IsActive = @IsActive Where MainMenuID = @MainMenuID
Set @MainMenuIDD = @MainMenuID
End
GO
/****** Object:  StoredProcedure [dbo].[Update_OrderDeatils]    Script Date: 7/29/2017 6:31:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[Update_OrderDeatils]
@OrderID Int = null,
@OrderRegID int = null,
@OrderProductID int = null,
@OrderQty int = null,
@OrderDate datetime = null,
@OrderCountry nvarchar(50) = null,
@OrderByState nvarchar(50) = null,
@OrderByCity nvarchar(50) = null,
@AlterMobileNo nvarchar(15) = null,
@PayemntModeID int = null
As
Begin
Update tblOrderDetails  Set OrderRegID = @OrderRegID, OrderProductID = @OrderProductID,
OrderQty = @OrderQty, OrderDate = @OrderDate, OrderCountry = @OrderCountry, OrderByState = @OrderByState,
OrderByCity = @OrderByCity, AlterMobileNo = @AlterMobileNo, PayemntModeID = @PayemntModeID Where OrderID = @OrderID
End
GO
/****** Object:  StoredProcedure [dbo].[Update_PaymentCategory]    Script Date: 7/29/2017 6:31:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[Update_PaymentCategory]
@ProdCategoryID int = null,
@ProdCategoryName nvarchar(50) = null,
@ProdTypeID int = null,
@IsActive bit = null
As
Begin
Update tblProductCategory Set ProdCategoryName = @ProdCategoryName, ProdTypeID = @ProdTypeID, IsActive = @IsActive
Where ProdCategoryID = @ProdCategoryID
End
GO
/****** Object:  StoredProcedure [dbo].[Update_PaymentMode]    Script Date: 7/29/2017 6:31:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[Update_PaymentMode]
@PaymentModeID int = null,
@PaymentModeText nvarchar(50) = null,
@IsActive bit = null
As
Begin
Update tblPaymentMode Set PaymentModeText = @PaymentModeText, IsActive = @IsActive Where PaymentModeID
= @PaymentModeID
End
GO
/****** Object:  StoredProcedure [dbo].[Update_ProductReviews]    Script Date: 7/29/2017 6:31:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[Update_ProductReviews]
@ReviewID int = null,
@ReviewRegID int = null,
@ReviewPostedDate datetime = null,
@ReviewDescription nvarchar(max) = null,
@ProductID int = null
As
Begin
Update tblReviews Set ReviewRegID = @ReviewRegID, ReviewPostedDate = @ReviewPostedDate,
ReviewDescription = @ReviewDescription, ProductID = @ProductID Where ReviewID = @ReviewID
End
GO
/****** Object:  StoredProcedure [dbo].[Update_Products]    Script Date: 7/29/2017 6:31:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create Proc [dbo].[Update_Products]
@ProductID int = null,
@ProductName nvarchar(50) = null,
@ProductDescription nvarchar(1000) = null,
@ProductBrandID int = null,
@ProductTypeID int = null,
@ProductCategoryID int = null,
@ProductSubCategoryID int = null,
@ProductColourID int = null,
@ProductDiscountID int = null,
@ProductQuantity int = null,
@ProductPricePerUnit decimal(18,2) = null,
@ProductPricePerDozen decimal(18,2) = null,
@ProductSalesPricePerUnit decimal(18,2) = null,
@ProductSalesPricePerDozen decimal(18,2) = null,
@ProductIsActive bit = null,
@ProducImageRefID int = null,
@IsActive bit = null,
@SubMenuID int = null
As
Begin
Update tblProducts Set ProductName = @ProductName, ProductDescription = @ProductDescription, ProductBrandID = @ProductBrandID
, ProductTypeID = @ProductTypeID, ProductCategoryID = @ProductCategoryID, ProductSubCategoryID = @ProductSubCategoryID,
ProductColourID = @ProductColourID, ProductDiscountID = @ProductDiscountID, ProductQuantity = @ProductQuantity,
ProductPricePerUnit = @ProductPricePerUnit, ProductPricePerDozen = @ProductPricePerDozen, ProductSalesPricePerUnit = @ProductSalesPricePerUnit,
ProductSalesPricePerDozen = @ProductSalesPricePerDozen, ProductIsActive = @ProductIsActive, ProducImageRefID = @ProducImageRefID,
IsActive = @IsActive, SubMenuID = @SubMenuID Where ProductID = @ProductID
End
GO
/****** Object:  StoredProcedure [dbo].[Update_ProductType]    Script Date: 7/29/2017 6:31:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[Update_ProductType]
@ProdTypeID int =null,
@ProdTypeText nvarchar(50) = null,
@IsActive bit = null
As
Begin
Update tblProductType  Set ProdTypeText = @ProdTypeText, IsActive = @IsActive Where ProdTypeID = @ProdTypeID
End
GO
/****** Object:  StoredProcedure [dbo].[Update_ReferenceProductImages]    Script Date: 7/29/2017 6:31:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[Update_ReferenceProductImages]
@RefImageID int = null,
@RefImagePath nvarchar(355) = null,
@ProductID int = null,
@IsActive bit = null
As
Begin
Update tblReferenceProductImages Set RefImagePath = @RefImagePath, ProductID = @ProductID, IsActive = @IsActive
Where RefImageID = @RefImageID
End
GO
/****** Object:  StoredProcedure [dbo].[Update_Registration]    Script Date: 7/29/2017 6:31:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create Proc [dbo].[Update_Registration]
@RegistrationID int = null,
@RegName nvarchar(50) = null,
@RegDate datetime = null,
@RegDob datetime = null,
@RegMobileNo nvarchar(15) = null,
@RegDescription nvarchar(1000) = null,
@RegAddress nvarchar(1500) = null,
@RegGender nvarchar(20) = null,
@UserTypeID int = null,
@UserPassword nvarchar(50) = null
As
Begin
Update tblRegistration Set RegName = @RegName, RegDate = @RegDate, RegDob = @RegDob, RegMobileNo = @RegMobileNo, RegDescription = @RegDescription, RegAddress = @RegAddress, RegGender = @RegGender, UserTypeID = @UserTypeID
, UserPassword = @UserPassword Where RegistrationID = @RegistrationID
End
GO
/****** Object:  StoredProcedure [dbo].[Update_SubMenuHeading]    Script Date: 7/29/2017 6:31:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[Update_SubMenuHeading]
@SubMenuHeadingID int = null,
@SubMenuHeadingText nvarchar(50) = null,
@MainMenuID int = null,
@IsActive bit = null,
@SubMenuHeadingIDD int out
As
Begin
Update tblSubMenuHeading Set SubMenuHeadingText = @SubMenuHeadingText,

	MainMenuID = @MainMenuID, IsActive = @IsActive

Where SubMenuHeadingID = @SubMenuHeadingID

	if(@@ERROR > 0)

Begin
	Set @SubMenuHeadingIDD = -1
End

	Else

Begin

	Set @SubMenuHeadingIDD = 1

End

End
GO
/****** Object:  StoredProcedure [dbo].[Update_UserType]    Script Date: 7/29/2017 6:31:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[Update_UserType]
@UserTypeID int = null,
@UserTypeText nvarchar(50) = null
As
Begin
Update tblUserType Set UserTypeText = @UserTypeText Where UserTypeID = @UserTypeID
End
GO
/****** Object:  StoredProcedure [dbo].[UpdateBrand]    Script Date: 7/29/2017 6:31:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[UpdateBrand]
@BrandID int = null,
@BrandName nvarchar(50) = null,
@IsActive bit = null
As
Begin
Update tblBrand Set BrandName = @BrandName, IsActive = @IsActive Where BrandID = @BrandID
End
GO
USE [master]
GO
